.KeyboardRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: #e3d5ca;
    margin-left: 2px;
    margin-right: 2px;
}

.KeyboardRow:not(:first-child) {
    margin-top: 4px;
}